In [13]:
import pandas as pd

In [14]:
post = pd.read_csv("datasets/post_17plus8_X.csv")
n_post = pd.read_csv("datasets/17+8-NovDes-Datasets.csv")

new_post = pd.concat([post, n_post], ignore_index=True)

print('duplicated:', new_post.duplicated().sum())
print(new_post.info())

duplicated: 34
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 837 entries, 0 to 836
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   conversation_id_str      837 non-null    int64
 1   created_at               837 non-null    object
 2   favorite_count           837 non-null    int64
 3   full_text                837 non-null    object
 4   id_str                   837 non-null    int64
 5   image_url                228 non-null    object
 6   in_reply_to_screen_name  257 non-null    object
 7   lang                     837 non-null    object
 8   location                 0 non-null      float64
 9   quote_count              837 non-null    int64
 10  reply_count              837 non-null    int64
 11  retweet_count            837 non-null    int64
 12  tweet_url                837 non-null    object
 13  user_id_str              837 non-null    int64
 14  username                 0 non-null      float64
dtypes: float64(2), int64(7), object(6)
memory usage: 98.2+ KB
None

In [15]:
# save the merged
new_post.to_csv("datasets/17plus8.csv", index=False)
new_post

,conversation_id_str,created_at,favorite_count,full_text,id_str,image_url,in_reply_to_screen_name,lang,location,quote_count,reply_count,retweet_count,tweet_url,user_id_str,username
0,1965720978492952986,Wed Sep 10 10:16:17 +0000 2025,20,Ambillah iktibar dari Negara Negara yang hancu...,1965720978492952986,https://pbs.twimg.com/ext_tw_video_thumb/19657...,NaN,in,NaN,1,3,7,https://x.com/undefined/status/196572097849295...,1541718298190290946,NaN
1,1966145518167535945,Thu Sep 11 14:23:15 +0000 2025,14,Agus Setiawan meyakini bahwa untuk mengawal tu...,1966145518167535945,https://pbs.twimg.com/ext_tw_video_thumb/19661...,NaN,in,NaN,0,1,1,https://x.com/undefined/status/196614551816753...,57261519,NaN
2,1965759375513162019,Wed Sep 10 12:48:51 +0000 2025,0,Sebagian 17+8 tuntutan rakyat sudah ada yg dip...,1965759375513162019,https://pbs.twimg.com/amplify_video_thumb/1965...,NaN,in,NaN,0,0,0,https://x.com/undefined/status/196575937551316...,1963852965175021568,NaN
3,1967037974971109397,Sun Sep 14 01:29:33 +0000 2025,2343,Anggota Kolektif 17+8 Indonesia Berbenah Andhy...,1967037974971109397,https://pbs.twimg.com/media/G0xSABXb0AAuxDT.jpg,NaN,in,NaN,742,147,531,https://x.com/undefined/status/196703797497110...,18129942,NaN
4,1965608459145281989,Wed Sep 10 02:49:10 +0000 2025,103,GAGAL..! Mahasiswa menilai kinerja DPR soal 17...,1965608459145281989,https://pbs.twimg.com/amplify_video_thumb/1965...,NaN,in,NaN,3,5,51,https://x.com/undefined/status/196560845914528...,1159475566069731331,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
832,1981705085756600602,Fri Oct 24 12:51:25 +0000 2025,2,[251024] Kim Taehyung Instagram story @BTS_twt...,1981705085756600602,https://pbs.twimg.com/media/G4BuRYBXQAARLik.jpg,NaN,in,NaN,0,0,3,https://x.com/undefined/status/198170508575660...,1104206089858367490,NaN
833,1980458439357919527,Tue Oct 21 02:17:41 +0000 2025,0,tuntutan 17+8 udah sejauh mana ya?,1980458439357919527,NaN,NaN,in,NaN,0,0,0,https://x.com/undefined/status/198045843935791...,179438144,NaN
834,1980625768049951162,Wed Oct 22 10:23:42 +0000 2025,0,@KenSavitri35075 @RakhaRakha45 @farisrachman_1...,1980943135917457533,NaN,KenSavitri35075,in,NaN,0,1,0,https://x.com/undefined/status/198094313591745...,781175338256572416,NaN
835,1981390869363380720,Thu Oct 23 16:02:50 +0000 2025,0,Gini2 aja negara ini.. 17+8 udah tenggelam git...,1981390869363380720,NaN,NaN,in,NaN,0,0,0,https://x.com/undefined/status/198139086936338...,60240025,NaN
836,1980933135190868235,Wed Oct 22 09:43:58 +0000 2025,0,Mau hari santri atau hari apa pun. Semoga hari...,1980933135190868235,NaN,NaN,in,NaN,0,0,0,https://x.com/undefined/status/198093313519086...,79133182,NaN